.git
.gitignore
.gitattributes

.devcontainer/
.vscode/

.venv/
venv/
env/

__pycache__/
*.pyc
*.pyo
*.pyd

.ruff_cache/
.mypy_cache/
.pytest_cache/

dist/
build/
*.egg-info/

Dockerfile
*.dockerfile
.dockerignore
docker-compose.yml
docker-compose.*.yml

.env
*.env

.DS_Store
Thumbs.db

*.log