services:
  app:
    image: "{{cookiecutter.project_slug}}:latest"
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
      - "5678:5678"
    environment:
      WATCHFILES_FORCE_POLLING: 1
      PYDEVD_DISABLE_FILE_VALIDATION: 1
    volumes:
      - ./:/home/appuser/code


{%- if cookiecutter.database == "mongodb (motor)" %}
  mongo:
    container_name: "{{cookiecutter.project_slug}}_mongo"
    image: mongo:latest
    volumes:
      - .mongodata:/data/db
    ports:
      - 27017:27017
{%- elif cookiecutter.database == "postgresql (asyncpg)" %}
  db:
    container_name: "{{cookiecutter.project_slug}}_db"
    image: postgres:latest
    volumes:
      - .pgdata:/var/lib/postgresql
    ports:
      - 5436:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: "{{cookiecutter.project_slug}}_db"
{%- endif %}