name: Test generation

on:
  pull_request:
    branches:
      - main

jobs:
  test-no-db:
    name: "Lint & run application (no db)"
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Setup Base Environment
        uses: ./.github/actions/setup-env

      - name: Generate No DB template
        with:
          project_slug: my_awesome_no_db_api
          database: none
        uses: ./.github/actions/generate-template
      
      - name: Test No DB application
        with:
          workdir: ../my_awesome_no_db_api
        uses: ./.github/actions/test-template
        
  test-sqlite-db:
      name: "Lint & run application (SQLite)"
      runs-on: ubuntu-latest

      steps:
        - name: Check out code
          uses: actions/checkout@v4

        - name: Setup Base Environment
          uses: ./.github/actions/setup-env

        - name: Generate SQLite template
          with:
            project_slug: my_awesome_sqlite_api
            database: sqlite (aiosqlite)
          uses: ./.github/actions/generate-template
      
        - name: Test SQLite application
          with:
            workdir: ../my_awesome_sqlite_api
          uses: ./.github/actions/test-template

  test-postgres-db:
      name: "Lint & run application (PostgreSQL)"
      runs-on: ubuntu-latest
      steps:
        - name: Check out code
          uses: actions/checkout@v4

        - name: Setup Base Environment
          uses: ./.github/actions/setup-env

        - name: Generate PostgreSQL template
          with:
            project_slug: my_awesome_postgres_api
            database: postgresql (asyncpg)
          uses: ./.github/actions/generate-template
        - name: Test PostgreSQL application
          with:
            workdir: ../my_awesome_postgres_api
          uses: ./.github/actions/test-template

  test-mongo-db:
      name: "Lint & run application (MongoDB)"
      runs-on: ubuntu-latest
      steps:
        - name: Check out code
          uses: actions/checkout@v4

        - name: Setup Base Environment
          uses: ./.github/actions/setup-env

        - name: Generate Mongo template
          with:
            project_slug: my_awesome_mongo_api
            database: mongodb (motor)
          uses: ./.github/actions/generate-template

        - name: Test MongoDB application
          with:
            workdir: ../my_awesome_mongo_api
          uses: ./.github/actions/test-template

        